/* CSS RESET */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px; /* base font-size for rem */
}
/* CSS RESET */

@font-face{
    font-family: "raleway";
    src: url(Raleway/Raleway-VariableFont_wght.ttf);
    font-display:swap;
}

body {
    font-family: "raleway";
    min-height: 100vh;
    font-weight: 600;
    cursor: default;
}

.wrapper {
    display: grid;
    height: 100vh;
    grid-auto-flow: column;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}
/* ------------------------------------------------------------ */
/* HEADER */
/* ------------------------------------------------------------ */
.header {
    color: black;
    box-shadow: 0 2px 5px black;
    grid-column: 2 / 3;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    z-index: 1;
}

.header .top { /* top part of the header, the search bar and profile */
    display: flex;
    justify-content: space-between
}

.header .search { /* both search svg and search bar */
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header .input { /* only search bar */
    border: none;
    border-radius: 15px;
    background-color: #e2e8f0;
    padding: 0.75rem;
    width: 40rem;
    
}

.header .profile { /* top right stuff, notifs svg, pfp and name */
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.header .pfp {
    border-radius: 50%;
}

.header .bottom { /* bottom part of the header, the greeting and buttons */
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.header .left { /* left part of the bottom part, pfp and greeting together */
    display: flex;
    gap: 2rem;
}

.header .greeting { /* the "hi there" and name, pfp NOT included */
    align-self: center;
}

.header .greeting-name { /* only the name after the "hi there", self-explanatory */
    font-size: 1.5rem;
    font-weight: bold;
}

.header .header-buttons { /* "new, upload, share" buttons CONTAINER */
    display: flex;
    gap: 1rem;
}

.header .header-buttons > * { /* the buttons themselves */
    background-color: #1992d4;
    color: white;
    font-weight: bold;
    border: #1992d4 solid 1px;
    border-radius: 30px;
    min-width: 6rem;
    height: 2.5rem;
    transition: background-color 0.2s;
    cursor: pointer;
}

/* ------------------------------------------------------------ */
/* SIDEBAR */
/* ------------------------------------------------------------ */
.sidebar {
    background-color: #1992d4;
    color: white;
    list-style-type: none;
    grid-row: 1 / 3;
    z-index: 2;
    box-shadow: 0 2px 5px black;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.dashboard-title {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.dashboard-title div { /* this is the "Dashboard" title */
    font-size: 1.75rem;
    font-weight: bold;
}

.sidebar .li-item { /* here we dont select the dashboard title, but every other <li>*/
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.25rem;
    cursor: pointer;
}
/* ------------------------------------------------------------ */
/* CONTENT PROJECTS*/
/* ------------------------------------------------------------ */
.content { /* the whole wrapper for the "projects" wrapper, "other" wrapper and "Your Projects" desc*/
    background-color: #e2e8f0;
    color: black;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 12fr;
    gap: 1rem;
    padding: 1rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.content .projects { /* container for the "Your Projects" description and the projects themselves */
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}

.content .project { /* these are the INDIVIDUAL projects or aka cards */
    background-color: white;
    border-radius: 30px;
    padding: 1.25rem;
    display: grid;
    grid-template-rows: 0.5fr 2fr 0.2fr;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    overflow: hidden;
    box-shadow: 0 2px 5px black;
    border-left: 10px solid #f6ad55;
}

.content .project-title { /* title of the card, for example "Calculator" or "Sign-up Form" */
    font-size: 1.25rem;
    font-weight: bold;
}

.content .project-actions {
    display: flex;
    gap: 2rem;
    justify-self: end;
}

.content .description { /* these are the "Your Projects" "Random Info" and "Trending" */
    font-size: 1.2rem;
    font-weight: bold;
}

#description-yourprojects {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    padding-left: 0.25rem;
}
/* ------------------------------------------------------------ */
/* CONTENT OTHER */
/* ------------------------------------------------------------ */
.content .other { /* the second part of content, "Random Info" and "More Random Info" on the right */
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr 1fr 8fr;
    gap: 0.5rem;
    padding: 0.5rem;
    padding-top: 0;
}

.other .description {
    align-self: center;
    font-size: 1rem;
}

.other > :nth-child(1 of .other-card) { /* selects the first element with class .other-card that is withing .other, I just decided to play around with selectors a bit*/
    margin-bottom: 1rem;
}

.other-card {
    background-color: white;
    border-radius: 20px;
    padding: 1rem;
}

.other-card-title {
    font-size: 1rem;
    font-weight: bold;
    border-bottom: grey solid 2px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 1rem;
}

.other-card-para {
    font-size: 0.8rem;
    padding-top: 1rem;
}