/* CSS RESET */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px; /* base font-size for rem */
}
/* CSS RESET */

@font-face{
    font-family: "raleway";
    src: url(Raleway/Raleway-VariableFont_wght.ttf);
    font-display:swap;
}

body {
    font-family: "raleway";
    min-height: 100vh;
    font-weight: 600;
    cursor: default;
}

.wrapper {
    display: grid;
    height: 100vh;
    grid-auto-flow: column;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}
/* ------------------------------------------------------------ */
/* HEADER */
/* ------------------------------------------------------------ */
.header {
    color: black;
    box-shadow: 0 2px 5px black;
    grid-column: 2 / 3;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    z-index: 1;
}

.header .top { /* top part of the header, the search bar and profile */
    display: flex;
    justify-content: space-between
}

.header .search { /* both search svg and search bar */
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header .input { /* only search bar */
    border: none;
    border-radius: 15px;
    background-color: #e2e8f0;
    padding: 0.75rem;
    width: 40rem;
    
}

.header .profile { /* top right stuff */
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.header .bottom { /* bottom part of the header, the greeting and buttons */
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.header .left { /* left part of the bottom part, pfp and greeting together */
    display: flex;
    gap: 2rem;
}

.header .greeting { /* the "hi there" and name, pfp NOT included */
    align-self: center;
}

.header .greeting-name { /* only the name after the "hi there", self-explanatory */
    font-size: 1.5rem;
    font-weight: bold;
}

.header .header-buttons { /* "new, upload, share" buttons CONTAINER */
    display: flex;
    gap: 1rem;
}

.header .header-buttons > * { /* the buttons themselves */
    background-color: #1992d4;
    color: white;
    font-weight: bold;
    border: #1992d4 solid 1px;
    border-radius: 30px;
    min-width: 6rem;
    height: 2.5rem;
    transition: background-color 0.2s;
    cursor: pointer;
}

/* ------------------------------------------------------------ */
/* SIDEBAR */
/* ------------------------------------------------------------ */
.sidebar {
    background-color: #1992d4;
    color: white;
    list-style-type: none;
    grid-row: 1 / 3;
    z-index: 2;
    box-shadow: 0 2px 5px black;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.dashboard-title {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.dashboard-title div { /* this is the "Dashboard" title */
    font-size: 1.75rem;
    font-weight: bold;
}

.sidebar .li-item { /* here we dont select the dashboard title, but every other li*/
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.25rem;
    cursor: pointer;
}
/* ------------------------------------------------------------ */
/* CONTENT */
/* ------------------------------------------------------------ */
.content {
    background-color: #e2e8f0;
    color: black;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-row: 1fr;
    padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.content .projects {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border: 2px solid blue;
}

.content .description {
    font-size: 1.2rem;
    font-weight: bold;
    /* border: 2px solid pink; */
}

.content .other {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    border: 2px solid red;
}